include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE.rst
include pyproject.toml

recursive-include sunraster *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o

# This subpackage is only used in development checkouts and should not be
# included in built tarballs
prune sunraster/_dev
